<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <h1 class="header">Register</h1>
    <div class="items">
    <form method="POST" action="">
        {{form.hidden_tag()}}
        {{form.username}}
        {{form.password}}
        <br>
        <br>
        {{form.access.label}}
        {{form.access}}
        <br>
        <br>
        {{form.isAdmin.label}}
        {{form.isAdmin}}
        <br><br>
        {{form.submit}}
    </form>

    <a href="{{url_for('dashboard')}}">Go Back</a>
</div>
</body>
</html>