<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Set Up</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
  <div><a href="{{url_for('dashboard')}}"><img src="./../static/back-btn.png" class="back-btn"></a> </div>

  <h1 class="header">
    Setup
  </h1>
  <!-- <a href="{{url_for('dashboard')}}">Go Back</a> -->
  <!--<div class="grid-container">-->

  {% for form in forms %}
  <button type="button" class="collapsible">{{titles[loop.index0]}}</button>
  <div class="content">
    <div class="grid-item setupPage">
<br/>
      <form method="POST" action="">
        {%set formindex = loop.index0%}
        {% for field in form%}
        <tr>
          <th>{%if field.label.text != 'Submit' and field.label.text != "CSRF Token" %}{{ field.label }}{%endif%} {% if
            field.flags.required %}*{% endif %}</th><br>                
            <div class="margin-top"></div>

          <td>{{ field }}</td><br>
        </tr>

        {%endfor%}
      </form>
      <div class="tableCover">

      <table class="fl-table" border="1">
        <thead>
          <tr>
            {%for title in headers[loop.index0]%}
            <th>{{title}}</th>
            {%endfor%}
            <th></th>
          </tr>

        </thead>
        {% for value in table[loop.index0] %}
        <tr>
          {%for item in value%}
          <td>
            {{item}}
          </td>
          {%endfor%}
          {%if user_role == 'admin'%}
          <!--<td><a href="{{url_for('edit_entry',tbl=dbtable,id=value[0])}}">Edit</a></td>-->
          <td><a class="ic-view" href="{{url_for('delete_entry',tbl=dbtable[formindex],tblid=dbtableid[formindex],id=value[0])}}"><span><img src="./../static/icons8-trash.svg" alt="Edit" width="26" height="26" /></span></a></td>
          {%endif%}
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
  </div>
  {%endfor%}

  </div>
  <br>
  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "block") {
          content.style.display = "none";
        } else {
          content.style.display = "block";
        }
      });
    } 
  </script>
  <style>
    .content {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }
  </style>

  <script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }
  </script>

</body>

</html>